 /* body image */
 body{
    background-image: url("../photo/photo2.jpg");
    background-size: 100% 800px;
    height: 100%;
    width: 99%;
    background-size:cover;
    background-repeat: no-repeat;
} 
/* styling in header */
#header {
 position: relative;
  width: 100%;
 height:70px;
 color:rgb(3, 110, 3);
 background-color: rgba(135, 142, 145, 0.37);
font-size:40px;
 border-radius:10px;
 font-weight: bold;
}
#websiteName{
 position: relative;
top: 15%;
left: 10px;
}
#headerName{
    display: inline;
    position: absolute;
    left: 45%;
    top:15%;
    }

    /* anlignment in header page  */
.signUp{
    position: absolute;
    right: 5%;
    top:35%;  
    padding: 5px; 
     font-size: 10px; 
    cursor: pointer;
}
/* button grow effect */
.hvr-grow { 
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.5);
transform: scale(1.5);
border-radius: 100px;
}
/* button shutter effect */

.hvr-shutter-out-horizontal {
background: #e1e1e1;
-webkit-transition-property: color;
transition-property: color;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
border: none;
border-radius: 100px;
}


.hvr-shutter-out-horizontal:before {
content: "";
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #4CAF50;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transform-origin: 50%;
transform-origin: 50%;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
border-radius: 100px;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
color: white;
border-radius: 100px;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
-webkit-transform: scaleX(1);
transform: scaleX(1);
border-radius: 100px;
}
    /*all take quiz button alignment */
.quizBtn{
 position: absolute;
 top: 50%;
left: 75%;
height: 50px;
width:150px;
font-size: 20px;
background-color:#4CAF50;
color: white;
border:none;
cursor: pointer;
}
    
/* button float effect */
.hvr-float {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
background-color: yellowgreen;
color: WHITE;
}

.type{
position: relative;
border: 2px rgba(0, 0, 0, 0.425) dashed ;
border-radius: 10px;
font-size: 20px;
margin-top: 10px;
background-color: rgba(211, 211, 211, 0.452);
font-family:cursive ;
}


